.main-container {
    width: 900px;
    margin: 0 auto;
    padding-top: 60px;
}

.glyphicon-remove {
    color: red;
}

.table-container {
    padding-top: 20px;
}

.tool-container {
    width: 900px;
    margin: 0 auto;
}

#catagory-list {
    margin: 20px;
    width: 400px;
    height: 450px;
    float: left;
}

#catagory-edit {
    padding: 30px;
    border: black solid 1px;
    border-radius: 5px;
    margin: 20px;
    width: 400px;
    height: 450px;
    float: right;
}